#signature {
  height: 77.5rem;
  background: url("../assets/images/pricing-background.png") top/cover no-repeat;

  & h2 {
    font: var(--title-sm);
    color: var(--text-title);
    max-width: 18.5rem;
    margin: auto;
    text-align: center;
    margin-bottom: 56px;
  }

  & .container_cards {
    position: relative;
    height: 37.875rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .card {
      position: absolute;

      padding: 2rem;
      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
      border-radius: 24px;
      max-width: 18rem;
      transition: background 0.5s ease, box-shadow 0.5s ease,
        transform 300ms ease;

      & img[src*="habbit"] {
        position: absolute;
        top: -3.1rem;
        left: 2rem;
      }

      & img[src*="star"] {
        position: absolute;
        top: -3.1rem;
        left: -2rem;
      }

      & #thirt_image {
        position: absolute;
        top: unset;
        left: unset;
        bottom: -2.1rem;
        right: -3rem;
      }

      & .card_header {
        width: 100%;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h4 {
          font: var(--title-xs);
          color: var(--pink-light);
        }

        & span {
          text-transform: uppercase;
          font: var(--tag-text);
          color: var(--text-body);
          padding: 0.5625rem 1.25rem;
          background-color: var(--shape-stroke);
          border-radius: 15px;
        }
      }

      & .price_tag {
        display: grid;
        gap: 4px;
        margin-bottom: 4.375rem;

        & .price {
          font: var(--title-md);
          color: var(--text-title);

          & .month {
            font: var(--title-xs);
          }
        }

        & .price_year {
          font: var(--body-sm);
          color: var(--text-label);
        }
      }

      & .benefits {
        margin-bottom: 1.5rem;

        & ul {
          list-style: none;
          display: grid;

          & li {
            font: var(--body-xs);
            color: var(--text-body);
          }

          & li::before {
            content: "";
            display: inline-block;
            background: url("../assets/icons/star.svg") center/cover;
            width: 2rem;
            height: 2rem;
            vertical-align: middle;
          }
        }
      }

      & button {
        all: unset;
        text-align: center;
        font: var(--button-text);
        color: var(--text-title);
        cursor: pointer;
        position: relative;
        overflow: hidden;

        padding-block: 0.75rem;
        width: 100%;

        background-color: var(--pink-dark);
        border-radius: 8px;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 8px;

          position: absolute;
          bottom: 0;
          left: 0;

          opacity: 0;
          transform: scaleX(0);
          transition: transform 300ms linear;
        }

        &:hover::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }

      &:hover {
        background-color: var(--shape-hover);
        box-shadow: 0px 0px 120px rgba(255, 255, 255, 0.1);
      }
    }

    & .card:nth-child(1) {
      z-index: 1;
    }

    & .card:nth-child(2),
    & .card:nth-child(3) {
      & .card_header {
        & h4 {
          color: var(--blue-light);
        }
      }

      & .benefits {
        & ul {
          & li::before {
            background: url("../assets/icons/star-blue.svg") center/cover;
          }
        }
      }

      & button {
        background: var(--blue-dark);
      }

      &:hover {
        z-index: 2;
      }
    }

    & .card:nth-child(3) {
      & .price_tag {
        margin-bottom: 2.375rem;
      }
    }

    &:hover {
      & .card:nth-child(2) {
        transform: translateY(80px) translateX(-290px) rotate(-8deg);
      }

      & .card:nth-child(3) {
        transform: translateY(80px) translateX(290px) rotate(8deg);
      }
    }
  }
}
